table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin-left: 20px;
    border: 1px solid #ddd;
    
}
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }

th,
td {
    text-align: left;
    padding: 16px;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    margin: 20px;
    border-style: none;
    width: 100px;
    height: 30px;
    background-color: #2196F3;
    color: white;
}

button:hover{
    opacity: 0.7;
}

input[type=button] {
    display: block;
    margin: auto;
    border-style: none;
    width: 100px;
    height: 30px;
    background-color: #2196F3;
    color: white;
}

input:hover{
    opacity: 0.7;
}